<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Its a simple form</title>
</head>
<body>
    <h2>This is a form for the submission of the files</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choosen file will be saved on server :</label>
        <input type="file" id="file" name="file" accept=".txt, .pdf, .jpg" multiple>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>